@charset "UTF-8";

@import "reset.css";

.tagline2 {
	font-size: 40px;
}

.login-input {
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	display: block;
	width: 100%;
	padding: 10px;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
}

.container {
	max-width: 100px;
}

#login-button {
	display: flex;
	flex-direction: column;
}

.login-form input, #login-button input {
	margin-top: 10px;
	border: none;
	font-size: 18px; border-bottom : 1px solid rgba( 0, 0, 0, 0.2);
	margin-bottom: 20px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#register-button input[type="submit"], #login-button input[type="button"],
	.login-form input[type="submit"] {
	width: 100%;
	background-color: rgb(166, 234, 231);
	cursor: pointer;
	padding: 20px 0px;
	border-radius: 15px;
}
#register-button input[type="submit"]{
	display: flex;
	justify-content:center;
	align-items: center;
}
.login-form {
	margin-top: 50px;
	width: 500px;
}

.login-form .form-group label {
	font-weight: bold;
	color: #555;
}

.login-form .accept-terms {
	margin: 20px 0 40px 0;
}

.sign-up {
	margin-top: 20px;
}

.logo-wrapper {
	text-align: center;
	margin-bottom: 40px;
}

.logo-wrapper .tagline {
	line-height: 180%;
	color: #666;
}

.logo-wrapper .logo {
	max-width: 150px;
	margin: 0 auto;
}

.form-group span {
	color: red;
	font-size: 13px;
}