@charset "UTF-8";

@import "reset.css";
@import "top-var.css";



.main-title {
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	font-size:50px;
}


.store {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.store-list {
	display: block;
	text-align: center;
	padding: 20px;
}

.store-list-image {
	width: 150px;
	height: 150px;
	margin-bottom: 10px;
	padding: 10px;
}