@charset "UTF-8";

@import "reset.css";

@import "top-var.css";

.main-title {
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	font-size: 50px;
}

.store {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.store-list {
	display: flex;
	text-align: center;
	padding: 20px;
	margin: 20px;
}

.store-list-image {
	display: block;
	width: 250px;
	height: 250px;
	margin-bottom: 10px;
	padding: 10px;
}