@charset "UTF-8";

#menu_id {
	width: 100%;
	padding: 30px;
	margin-top: 30px;
	text-align: center;
	border-collapse: collapse;
	font-size: 40px;
}

.menu_table_wrap {
	padding: 50px 80px
}

.menu_table {
	border:1px solid rgba(0,0,0,0.2);
	width: 100%;
	text-align: center;
}
.menu_table tr{
	border:1px solid;
}
.menu_table td {
	padding: 10px ;
}

.menu_table thead {
	background-color: #f8f9fd;
	font-weight: 600;
}

.menu_table a {
	color: #1088ed;
	font-weight: 500;
}

.th_column_1,
.th_column_2 ,
.th_column_3 
 {
	width: 120px;
}

.table_empty {
	height: 50px;
	text-align: center;
	margin: 200px 0 215px 0px;
	font-size: 25px;
}
.goback input[type="button"]{
	width:50%;
	text-align: center;
	display:flex;
	justify-content:center;
	align-content:center;
	background-color: rgb(166, 234, 231);
	cursor: pointer;
	padding: 20px 0px;
	border-radius: 15px;
}