@charset "UTF-8";

@import "reset.css";

@import "top-var.css";

.main-store-image {
	width: 200px;
	height: 200px;
	margin-right: 50px;
}

.main-store {
	font-size: 40px;
	font-weight: bold;
}

.main-store-place {
	font-size: 15px;
	font-weight: normal;
}

.menu-list {
	padding: 30px;
	margin: 30px;
	display: flex;
	justify-content:column;
	width: 100%;
	font-size: 40px;
}