@charset "UTF-8";

@import "reset.css";
@import "top-var.css";

#result_card img {
	height: 230px;
	margin:0 150px;
	padding-left:600px;
}
.main-store, .menu{
	display: flex;
	justify-content:space-around;
	align-items: center;
	padding:50px;
}
.main-store input{
	border:none;
	font-size: 70px;
	font-weight: bold;
}
.main-store-place {
	font-size: 15px;
	font-weight: normal;
}

.menu-list {	
	padding: 30px;
	padding-left:300px;
	display: flex;	
	width: 100%;
	font-size: 40px;
}
.menu-list:hover{
	font-weight:bold;
	  background-color: rgba(166, 234, 231,0.5);
}