@charset "UTF-8";

.top-area {
	margin: 20px 3px 5px 20px;
	padding: 40px 10px 10px 40px;
	display: flex;
	justify-content: space-between;
	font-weight: bold;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropbtn{
	border: none;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.list {
	padding: 10px;
}

 a, a:active{
	color:black;
	text-decoration-line:none;
}

.list:nth-child(2) {
	padding: 0px 20px;
	font-size: 40px;
}
.status-var input{
	height:30px;
	width:100px;
}
.status-var {
	margin-left: 5px;
	display: flex;
	justify-content: center;
}

.status-var .fa-plus, .status-var .fa-search, .status-var .fa-shopping-cart
	{
	padding: 5px 15px;
}
.fa-shopping-cart{
	margin-right:20px;
	padding-right:80px;
}