@charset "UTF-8";

.top-area {
	margin: 20px 3px 5px 20px;
	padding: 40px 10px 10px 40px;
	display: flex;
	justify-content: space-between;
	font-weight: bold;
}

.list {
	padding: 10px;
}

.list:nth-child(2) {
	padding: 0px 20px;
	font-size: 40px;
}

.status-bar {
	display: flex;
	justify-content: center;
}

.status-var .fa-plus, .status-var .fa-search, .status-var .fa-shopping-cart
	{
	padding: 5px 15px;
}