<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.web.mapper.MenuMapper">
	<select id="getMenuById" resultType="com.spring.web.vo.MenuVO">
		select * from menu where
		id=#{id}
	</select>
	<select id="getMenuByStoreId"
		resultType="com.spring.web.vo.MenuVO">
		select * from menu where
		store_id=#{id}
	</select>
	<insert id="menuJoin">
		<selectKey resultType="int" keyProperty="id" order="AFTER">
			SELECT
			LAST_INSERT_ID()
		</selectKey>
		insert into menu values
		(#{id},#{store_id},#{menuname},#{price},#{discountrate})

	</insert>

</mapper>	