<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.web.mapper.StoreMapper">
	
	<select id="getStoreByUserId" resultType="com.spring.web.vo.StoreVO">
		select * from store where user_id=#{id}
	</select>
	<insert id="storeJoin">
		<selectKey resultType="int" keyProperty="id" order="AFTER">
			SELECT
			LAST_INSERT_ID()
		</selectKey>
		insert into store values
		(#{id},#{user_id},#{storename},#{address},#{x},#{y},#{storenumber})

	</insert>

</mapper>	