<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.web.mapper.ThemaMapper">
	<select id="getThemaListWithImage"
		resultType="com.spring.web.dto.ThemaListAndImageDto">
		SELECT * FROM thema join image on thema.id=image.thema_id
	</select>
	<select id="getThemaAndImage"
		resultType="com.spring.web.dto.ThemaAndImageDto">
		SELECT * FROM thema join image on thema.id=image.thema_id where thema.id=#{id};
	</select>

</mapper>	